<% groups.each do |group| %>
  <div class="mb-1">
    <%= link_to group_path(group) do %>
      <%= image_tag group.get_image, size: "40x40", class: "rounded-circle mr-1" %>
      <%= group.name %>
    <% end %>
  </div>
<% end %>