<h1>グループ作成</h1>
<%= render 'public/groups/groups_link' %>
<div class="row">
  <div class="col-lg-3 mb-3">
    <%= render 'layouts/new_programs.html.erb' %>
  </div>
  <div class="col-lg-5 mb-3">
    <p class="py-3 pl-1" style="background-color: rgba(165, 143, 134, 0.2);">
      <strong>グループ新規作成</strong>
    </p>
    <%= render 'form', group: @group %>
  </div>
  <div class="col-lg-4 mb-3">
    <%= render 'public/groups/user_groups_info', user: @user, join_groups: @join_groups, owner_groups: @owner_groups %>
  </div>
</div>
