<h1>講座新規作成</h1>
<div class="mb-3 mr-3 text-right">
  <%= link_to '戻る', admin_programs_path, class: "btn btn-secondary" %>
</div>

<% submit_label = "作成" %>
<%= render 'form', program: @program, submit_label: submit_label %>

