<%= content_for(:title, "aboutページ" ) %>
<%= content_for(:description) do %>
  こういうサイトです
<% end %>
<h1>About</h1>

<p>
  アロマやハーブに関心がある<br>
  心身の健康に関心がある<br>
  手作りが好き<br>
  何かを始めてみたい<br>
  etc...<br>
   <br>
  アロマ・ハーブを通じて<br>
  新しいなにかに出会う<br>
  そのお手伝いができますように<br>
</p>
