<table class="table">
  <thead>
    <tr style="background-color: rgba(165, 143, 134, 0.2);">
      <th>投稿者</th>
      <th>投稿件数</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.posts.count %>件</td>
        <td><%= link_to '開く', user_path(user), class: "btn btn-secondary py-1" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="d-flex justify-content-end mt-1">
  <%= paginate users, param_name: 'users_page' %>
</div>