<div class="d-flex justify-content-center">
  <%= render 'public/searches/search_form' %>
</div>
<% if @user == current_user %>
  <h1>マイページ</h1>
<% else %>
  <h1>会員情報</h1>
<% end %>

<%= render 'user_info', user: @user, posts: @posts %>