<% if notice %>
  <div class="alert alert-success">
    <%= notice %>
  </div>
<% end %>
<% if alert || flash.now[:danger] %>
  <div class="alert alert-danger">
    <%= alert || flash.now[:danger] %>
  </div>
<% end %>