<p class="py-3 pl-1" style="background-color: rgba(165, 143, 134, 0.2);">
  <strong>新着講座</strong>
</p>
<% @new_programs.each do |program| %>
  <div class="d-flex flex-wrap flex-lg-nowrap mt-3 mx-auto">
    <%= link_to program_path(program), class: "d-block" do %>
      <div>
        <%= image_tag program.get_image_resize(210, 168), class: "w-100" %>
      </div>
      <div class="text-center mx-auto">
        <%= program.title %>
      </div>
    <% end %>
  </div>
<% end %>